    /* //////////////////////////// FONT SQUIRREL > WEBFONTKIT //////////////////////////// */
    @font-face
    {
    	font-family: 'barlowregular';
    	src: url('FONTS/Barlow-Regular-webfont.eot');
    	src: url('FONTS/Barlow-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('FONTS/Barlow-Regular-webfont.woff2') format('woff2'),
         url('FONTS/Barlow-Regular-webfont.woff') format('woff'),
         url('FONTS/Barlow-Regular-webfont.ttf') format('truetype'),
         url('FONTS/Barlow-Regular-webfont.svg#barlowregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body
{	font-family: 'barlowregular', Arial, Verdana, sans-serif;
    font-size: 10px; /* dimension de référence pour les textes des autres styles (rem) */
	margin: 0px; /* Ecrase la margin de 6 pixels par défaut des navigateurs.*/
	padding-left: 20px;
}

.fas 
{	font-size: 1.5rem;
	color: #FF9800;
	margin-right: 20px;
}
.far 
{	font-size: 0.8rem;
	color: #FF9800;
}

/*------------------------------------ HEADER ------------------------------------*/

header
{	padding-left: 30px;
}

h1/*----- PRENOM + NOM -----*/
{	font-size: 2.5rem;
	text-transform: uppercase;
	font-weight: bolder;
	color: #FF9800;
}

h1 strong
{   font-weight: lighter;
	color: black; 
}

h2/*----- PROFESSION -----*/
{	font-size: 1.3rem;
	font-weight: lighter;
	white-space: normal;
	margin-top: -20px;
	/* border: 5px solid green; AIDE A LA VISUALISATION*/
}

h2::after/*----- FILET -----*/
{   content: '';
    display: block;
    width: 55px;
    height: 1px;
    background:#FF9800;
}

/*------------------------------------ CONTAINER ------------------------------------*/

.parcours/*----- EXPERIENCE + FORMATION -----*/
{	font-size: 1.3rem;
	font-weight: bolder;
	text-transform: uppercase;
	border-bottom: 2px solid #FF9800;
	margin: 50px 0 20px 30px;
}


/*------------------------------------ ARTICLE DU CONTAINER ------------------------------------*/
.date
{	display: inline-block;
	vertical-align: top;
	min-width: 150px;
	font-size: 1rem;
	padding-left: 30px;
	/* background-color: yellow; AIDE A LA VISUALISATION*/
}


.statue
{	display: inline-block;
	vertical-align: top;
	/*max-width: 400px;*/
	margin-top: -20px;
	/* background-color: silver; AIDE A LA VISUALISATION*/
}

h3/*----- POSTE OCCUPE -----*/
{	font-size: 1.5rem;
	font-variant: small-caps;
	line-height: 90%;
	/* border: 1px solid blue; AIDE A LA VISUALISATION*/
}

.societe/*----- POUR QUI -----*/
{	font-size: 1.1rem;
	font-variant: normal;
	font-weight: lighter;
	line-height: 120%;
	margin-top: -15px;
	/* border: 1px solid red; AIDE A LA VISUALISATION*/
}

.societe mark/*----- POUR QUI -----*/
{	font-size: 0.9rem;
	font-weight: lighter;
	color: gray;
	background-color: white;
}

ul/*----- TACHES EXÉCUTÉES	 -----*/
{	font-size: 1rem;/* 1 : taille normale */
	font-style: normal;
	font-variant: normal;
	line-height: 120%;
	margin-top: -10px;
	margin-left: -20px;
	list-style-type: none;
	/* background-color: green; AIDE A LA VISUALISATION*/
}

ul li::before
{	content: "•"; 
	color: #FF9800;
	margin-right: 8px;
	width: 1em;
	margin-left: -1em 	
}

li
{	margin-top: 5px;
}

/*------------------------------------ PARTIE ORANGE ------------------------------------*/
aside
{	display: flex;
	flex-direction: column;
	max-width: 20%;
}

.roundedimage
{	
	display: inline-block;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 40px auto 20px auto;
}

img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
  }

/* .soustitre
{	font-size: 1rem;
	font-variant: capitalize;
	font-weight: normal;
	color: #FF9800;
	height: 30px;
	text-align: center;
	line-height: 2em;/* CENTER 1 SEULE LIGNE*/
	white-space: nowrap;/* INTERDICTION D'ALLER A LA LIGNE*/
	background-color: black;
}

.soustitre p
{	font-size: 0.8rem;
	font-weight: normal;
	text-align: left;
	padding: 0 30px 0 30px;
	word-break: break-word;	
}

.soustitre p em
{font-weight: bolder;
} */
